# ------
# Common
# ------
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
public/
wget.log
package-lock.json

# -----------------------
# Local Development Tools
# -----------------------
/node_modules
/npm-debug.log

# ---------------
# Compiled assets
# ---------------
.sass-cache
_site

# ----------
# Docusaurus
# ----------
.docusaurus
build
dist

# ----------
# Developing
# ----------
todo.md
.vscode 